.container-buscador{
    @include center-element;
    width: 100%;
}
.buscador{
    border-radius: 50px;
    border: $color-secondary 15px solid;
    width: 90%;
}
.input-buscador{
    @include marginPadding;
    border:transparent 1px solid;
    border-radius: 40px;
    height: 25px;
    width: 90%;
    outline-color: $color-secondary;
    font-size: 20px ;
}
.fa-search{
    margin-left:10px;
    font-size: 20px ;
}


