.container-buscador{
    width: 100%;
    @extend %flex-centrar;
    padding-top: 30px;
}
.buscador{
    @include shadow;
    border-radius: 50px;
    border: $color-secondary 15px solid;
    width: 90%;
}
.input-buscador{
    @include marginPadding;
    border:transparent 1px solid;
    border-radius: 40px;
    height: 25px;
    width: 90%;
    outline-color: $color-secondary;
    font-size: 20px ;
    font-weight: bold;
}
.fa-search{
    margin-left:10px;
    font-size: 20px ;
}
.contenedor-input{
    @include marginPadding;
    @extend %flex-centrar;
}
.input{
    @extend %flex-centrar;
    border-radius: 15px;
    width:25.5em;
    height:2em;
    margin-top:10px;
    padding: 5px;
    outline-color: $color-secondary;
    font-size: 15px;
    font-weight: bold;
}


@media screen and (min-width: 300px) and (max-width: 900px){
    .input-buscador{
        width: 80%;
    }
}

