.contenedor-cards{
    @include shadow;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 25%;

}
.card{
    @include shadow;
    @extend %flex-centrar;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.container-propuesta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-modals{
    margin: 20px;
    @extend %flex-centrar;
}
.modal{
    visibility: hidden;
    position: fixed;   
}
.is-visible {
    visibility: visible;
}
.close {
    background-color: $color-button;
    color:$color-secondary;
    line-height: 25px;
    position: absolute;
    right: 10px;
    top:10px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #0a3146;
}
.modal-eliminar{
    margin: 50px;
    padding: 50px;
}



@media screen and (min-width: 300px) and (max-width: 800px){
    .contenedor-cards{
        width: 80%;
    }
    .contenedor-input{
        width:22em;
    }
    .input{
        width:20em;
    }
}




