.container-cards{
    @include center-element ;
    margin: 20px;
}
.card{
    width: 25% ;
    height: 25%;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
}
.card-input{
    @include center-element;
    @include marginPadding;
}
.input-card{
    border-radius: 15px;
}