@mixin marginPadding{
    margin: 8px;
    padding: 8px;
}
@mixin boton($redondeado) {
    border: none;
    background-color:$color-button;
    color:$color-secondary;
    border-radius: 5px;
    @if $redondeado {
        border-radius: 50px;
    }
    margin: 10px;
}
%flex-centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin shadow{
    box-shadow: -8px 6px 25px -5px rgba(0,0,0,0.52);
    -webkit-box-shadow: -8px 6px 25px -5px rgba(0,0,0,0.52);
    -moz-box-shadow: -8px 6px 25px -5px rgba(0,0,0,0.52);
}